{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block main %}

<h1> Home Page </h1>

<form action="upload" method="post">
    <label for="upload"> Rants </label>
        <input type="text" name="upload" value="Rant" required>
    <br>
    <label for-="category"> Categories </label>
        <input type="checkbox" name="category" id="category1" value="">
        <label for="category1"> School </label><br>
        <input type="checkbox" name="category" id="category2" value="">
        <label for="category2"> Work </label><br>
        <input type="checkbox"  name="category" id="category3" value="">
        <label for="category3"> Relationships </label><br>
    <input type="submit" value="Post">
</form>

{% if rants %}
<h2> Previous rants  </h2>
<ul>
    {% for rant in rants %}
    <li>{{ rant }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock%}
