{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block main %}

<h1> Home Page </h1>

<form action="upload" method="post">
    <label for="upload"> Website URL</label>
        <input type="text" name="upload" value="Rant" required>
    <br>
    <input type="submit" value="shorten">
</form>

{% if rants %}
<h2> Previous rants  </h2>
<ul>
    {% for rant in rants %}
    <a href="{{ url_for('redirect_to_url', code=code) }}">
    <li>{{ rant }}</li>
    </a>
    {% endfor %}
</ul>
{% endif %}

{% endblock%}
