{% extends 'base.html' %}

{% block title %} Rant {% endblock %}

{% block metadata %}

<!--<meta name="google-signin-scope" content="profile email">-->
<!--<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">-->
<!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->

{% endblock %}
{% block main %}

<h1> Rant </h1>
<!-- TODO fix Google pop out-->
<!--
<form action="new-account" method="post">
-->
<form action="login">
    <input type="submit" value="Login using Google">
<!--        <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>-->

</form>
</html>

{% endblock%}
